/*******************************************************************************
                公共样式
********************************************************************************/
/*全局样式*/
* {
    margin: 0;
    padding: 0;
    color: #222;
    box-sizing: border-box;
    font-size: 12px;
}
/*超级链接默认的样式*/
a {
    color: #222;
    text-decoration: none;
}
a:hover {
    color: #00a1d6;
}
/*通过CSS伪类清除浮动*/
.clearfix:after {
    content: "";  /*必须要有这一行，否则伪类不起作用*/
    clear: both;
    display: block;
}
/*靠左浮动*/
.fl {
    float: left;
}
/*靠右浮动*/
.fr {
    float: right;
}
/*页面外围控制整体布局宽度的容器*/
.bili-wrapper {
    width: 980px;
    margin: 0 auto;  /*水平居中*/
}

/*******************************************************************************
                页头区
********************************************************************************/
/*页头容器*/
.header {
    height: 180px;
    background-image: url("images/top-bg.png");
    position: relative;
}
/*导航条*/
.h-nav {
    position: relative;
    height: 42px;
}
/*模糊的背景图像*/
.h-nav-blur {
    position: absolute;  /*绝对定位*/
    width: 100%;
    height: 100%; 
    background-image: url("images/top-bg.png");
    filter: blur(4px);  /*给图像设置高斯模糊*/
}
/*背景色半透明遮罩*/
.h-nav-mask {
    position: absolute;
    width: 100%;
    height: 100%; 
    background: rgba(255,255,255,0.4);
    box-shadow: 0 1px 2px rgba(0,0,0,.1);  /*水平阴影的位置,垂直阴影的位置,[模糊距离],[阴影的尺寸],[阴影的颜色],[inset]*/
}
/*导航元素*/
.h-nav-content {
    position: relative;  /*不加这一行文字会被遮住*/
    height: 42px;
}
/*导航菜单*/
.h-nav-menu ul {
    list-style: none;
}
.h-nav-menu ul li {
    float: left;
}
.h-nav-menu ul li a {
    display: block;
    padding: 0 7px;
    line-height: 42px;
    text-decoration: none;
}
.h-nav-menu ul li a:hover {
    background-color: rgba(255,255,255,0.3);
}
/*为第1个导航菜单添加小图标*/
.h-nav-menu ul li:first-child a {
    padding-left: 29px;
    background-image: url("images/icons-logo.png");
    background-repeat: no-repeat;
    background-position: 7px 14px;  /*水平位置, 垂直位置*/
}
/*用户信息*/
.h-nav-user ul {
    list-style: none;
    float: left;
}
.h-nav-user ul li {
    height: 42px;
    float: left;
}
/*用户头像*/
.h-nav-face {
    width: 32px;
    height: 32px;
    margin: 5px 7px 0 7px;
    border-radius: 50%;
}
/*历史按钮*/
.h-nav-history {
    display: block;
    padding: 0 7px;
    line-height: 42px;
    text-decoration: none;
}
.h-nav-history:hover {
    background-color: rgba(255,255,255,0.3);
}
/*投稿按钮*/
.h-nav-upload {
    margin-left: 8px;
}
.h-nav-upload a {
    display: block;
    width: 68px;
    height: 46px;
    background-color: #f45a8d;
    color: #fff;
    text-decoration: none;
    line-height: 42px;
    text-align: center;
    font-size: 14px;
    border-radius: 0 0 6px 6px;
}
.h-nav-upload a:hover {
    background-color: #fb7299;
}
/*页头内容*/
.h-content {
    width: 980px;
    height: 138px;
    margin: 0 auto;  /*水平居中*/
    position: relative;
}
/*网站标题*/
.h-title {
    position: absolute;
    top: 20px;
    left: 24px;
}
/*搜索框*/
.h-search {
    position: absolute;
    right: 0;
    bottom: 20px;
}
/*排行榜*/
.h-ranking {
    width: 68px;
    height: 32px;
    background-color: rgba(255,255,255,0.88);
    border-radius: 4px;
    margin-right: 3px;
}
.h-ranking:hover {
    background-color: #fff;
}
.h-ranking a {
    display: block;
    line-height: 32px;
    color: #f25d8e;
    background-image: url("images/icons-phb.png");
    background-repeat: no-repeat;
    background-position: 5px 8px;
    padding-left: 26px;
    text-decoration: none;
    border-radius: 4px;
}
/*搜索表单*/
.h-search-form {
    display: inline-block;
    height: 32px;
    background-color: rgba(255,255,255,0.88);
    border-radius: 4px;
}
.h-search-form:hover {
    background-color: #fff;
}
/*搜索关键字文本框*/
.h-search-keyword {
    width: 220px;
    height: 32px;
    padding: 0 12px;
    border: none;
    background-color: transparent;  /*背景透明*/
}
.h-search-keyword:focus {
    outline: none;  /*文本框获取焦点时外边框不变蓝*/
}
/*搜索按钮*/
.h-search-submit {
    width: 48px;
    height: 32px;
    background-image: url("images/icons-search-blue.png");
    background-repeat: no-repeat;
    background-position: center center;
    border: none;
    background-color: transparent;
    cursor: pointer;  /*将光标设置为小手*/
}
.h-search-submit:hover {
    background-image: url("images/icons-search-red.png");
}
/*******************************************************************************
                主体内容区
********************************************************************************/
/*频道导航*/
.m-nav {
    margin-top: 10px;
    margin-bottom: 10px;
}
/*频道导航列表*/
.m-nav ul {
    list-style: none;
}
.m-nav ul li {
    position: relative;
    width: 46px;
    height: 48px;
    float: left;
    cursor: pointer;
}
/*频道导航中的小图标*/
.m-nav-icon {
    text-align: center;
    margin-top: 7px;
}
/*频道导航中的数字*/
.m-nav-num {
    position: absolute;
    width: 100%;
    top: 7px;
    text-align: center;
    margin-bottom: 3px;
    transform: scale(.85);  /*2D缩放*/
}
.m-nav-num span {
    background-color: #ffafc9;
    color: #fff;
    padding: 1px 3px;
    border-radius: 3px;
}
/*频道导航中的名称*/
.m-nav-name {
    position: absolute;
    bottom: 7px;
    width: 100%;
    text-align: center;
}

/*最新内容大图区*/
.m-new-bp {
    position: relative;
    width: 440px;
    height: 220px;
    cursor: pointer;
}
/*大图区中的图片*/
.m-new-bp img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/*大图区中的标题文字*/
.m-new-bp p {
    position: absolute;
    bottom: 0px;
    font-size: 14px;
    color: #fff;
    width: 100%;
    height: 40px;
    line-height: 40px;
    background: linear-gradient(rgba(0,0,0,.1),rgba(0,0,0,.6));  /*渐变色背景*/
    border-radius: 0 0 5px 5px;
}

/*最新内容小图区*/
.m-new-sp-wrapper {
    width: 540px;
}
/*小图容器*/
.m-new-sp {
    position: relative;
    width: 160px;
    height: 100px;
    margin: 0 0 20px 20px;
}
/*小图片*/
.m-new-sp img {
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
/*视频信息*/
.m-new-sp .m-info {
    position: absolute;
    overflow: hidden;
    width: 100%;
    height: 100px;
    left: 0;
    top: 0;
    padding: 73px 10px 5px 10px;
    background: linear-gradient(transparent 73px, rgba(0,0,0,.9),rgba(0,0,0,.4));  /*渐变色背景*/
    border-radius: 5px;
    cursor: pointer;
}
.m-new-sp .m-info:hover {
    padding: 5px 10px 5px 10px;
    background: linear-gradient(rgba(0,0,0,.9),rgba(0,0,0,.4));  /*渐变色背景*/
    transition: all .6s;  /*改变样式时使用动画效果*/
}
/*视频信息中的标题*/
.m-new-sp .m-info .title {
    color: #fff;
    height: 40px;
    line-height: 22px;
    margin-bottom: 5px;
    overflow: hidden;
}
/*视频信息中的作者和播放次数*/
.m-new-sp .m-info .author,
.m-new-sp .m-info .play {
    color: #c0c7cc;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
}

/*广告条*/
.m-ad img {
    border-radius: 5px;
    width: 100%;
    margin-bottom: 20px;
}

/*动画频道最新内容*/
.m-douga-l {
    width: 720px;
}
/*动画频道头部*/
.m-douga-l-head {
    margin-bottom: 20px;
}
/*头部中的标题*/
.m-douga-l-head .m-title {
    font-size: 24px;
    margin: 5px 10px 0 10px;
}
/*头部中的tab标签*/
.m-douga-l-head .m-tab {
    list-style: none;
    margin-top: 10px;
}
.m-douga-l-head .m-tab li {
    margin: 0px 5px;
}
/*处理激活状态下的tab标签*/
.tab-active {
    position: relative;
    color: #00a1d6;
    border-bottom: 1px solid #00a1d6;
    padding-bottom: 5px;
}
/*激活状态下tab标签下方的小三角*/
.tab-active::before {
    content: "";  /*必须要有这一行，否则伪类不起作用*/
    position: absolute;
    bottom: 0;
    left: 50%;
    margin-left: -3px;  /*保证小三角居中*/
    border-bottom: 3px solid #00a1d6;
    border-top: 0;
    border-left: 3px dashed transparent;  /*透明的虚线*/
    border-right: 3px dashed transparent;
}
/*头部中更多按钮*/
.m-douga-l-head .m-more {
    width: 54px;
    height: 24px;
    line-height: 22px;
    border: 1px solid #ccd0d7;
    color: #555;
    border-radius: 4px;
    margin-top: 10px;
    margin-right: 20px;
    padding-left: 10px;
    background-image: url("images/icons-right-arrow.png");
    background-repeat: no-repeat;
    background-position: 40px 6px;
    transition: all 0.6s;
}
.m-douga-l-head .m-more:hover {
    background-color: #ccd0d7;
}
/*动画频道最新内容*/
.m-douga-content .m-item {
    margin: 0 20px 20px 0;
}
/*最新内容中的图片*/
.m-douga-content .m-img {
    position: relative;
    width: 160px;
    height: 100px;
}
.m-douga-content .m-img img {
    width: 100%;
    height: 100%;
    border-radius: 4px;
}
/*最新内容中的图片上的遮罩*/
.m-douga-content .m-mask {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 4px;
}
.m-douga-content .m-mask:hover {
    background-color: rgba(0,0,0,0.3);
}
/*最新内容中的标题*/
.m-douga-content .m-title {
    margin: 5px 0;
}
/*最新内容中的播放次数*/
.m-douga-content .m-count {
    display: block;
    background-image: url("images/icons-play.png");
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding: 0 0 0 15px;
    width: 50%;
}
/*最新内容中的弹幕数量*/
.m-douga-content .m-danmu {
    background-image: url("images/icons-danmu.png");
    background-repeat: no-repeat;
    background-position: 0 2px;
    padding: 0 0 0 15px;
}

/*动画频道排行榜*/
.m-douga-r {
    width: 260px;
}
/*排行榜中的标题*/
.m-douga-r-head .m-title {
    font-size: 18px;
    margin-top: 8px;
    margin-right: 20px;
}
/*排行榜中的tab标签*/
.m-douga-r-head .m-tab {
    list-style: none;
    margin-top: 12px;
}
.m-douga-r-head .m-tab li {
    padding: 0 7px;
}
/*排行榜列表*/
.m-douga-r .m-douga-ranking {
    list-style: none;
}
/*排行榜中的第一条信息*/
.m-douga-ranking .m-item-first {
    margin-top: 20px;
}
.m-douga-ranking .m-item-first .m-img img {
    width: 80px;
    height: 50px;
    border-radius: 4px;
}
.m-douga-ranking .m-item-first .m-info {
    width: 144px;
}
.m-douga-ranking .m-item-first .m-info .m-title {
    display: block;
    width: 100%;
    height: 36px;
    line-height: 18px;
    overflow: hidden;
}
.m-douga-ranking .m-item-first .m-info .m-point {
    height: 18px;
    line-height: 18px;
    overflow: hidden;
    color: #99a2aa;
}
/*排行榜中的其它信息*/
.m-douga-ranking .m-item {
    margin-top: 18px;
}
/*排行榜中的序号*/
.m-douga-ranking .m-num {
    font-style: normal;
    display: block;
    width: 18px;
    height: 18px;
    line-height: 18px;
    margin-right: 8px;
    text-align: center;
    font-weight: bolder;  /*定义更粗的字符。*/
    background-color: #b8c0cc;
    border-radius: 4px;
}
/*前三名的红色序号*/
.m-douga-ranking .m-num-red {
    color: #fff;
    background: #f25d8e;
}
/*排行榜中的信息标题*/
.m-douga-ranking .m-title {
    width: 234px;
    height: 18px;
    overflow: hidden;
}
/*排行榜中的更多按钮*/
.m-douga-r .m-more {
    display: block;
    height: 26px;
    line-height: 24px;
    background-color: #e5e9ef;
    text-align: center;
    border: 1px solid #e0e6ed;
    color: #222;
    border-radius: 4px;
    margin-top: 12px;
    background-image: url("images/icons-right-arrow.png");
    background-repeat: no-repeat;
    background-position: 160px 7px;
    transition: .2s;
}
.m-douga-r .m-more:hover {
    background-color: #ccd0d7;
    border: 1px solid #ccd0d7;
}
/*******************************************************************************
                页脚区
********************************************************************************/
/*页脚容器*/
.footer {
    padding: 40px 0 20px 0;
    background-color: #f6f9fa;
}
/*功能链接和传送门*/
.f-link-left {
    margin-right: 40px;
    padding-right: 40px;
    width: 340px;
    border-right: 1px solid #eee;
}
/*标题*/
.f-link-left .f-title {
    margin-bottom: 20px;
    color: #99a2aa;
}
/*链接容器*/
.f-link-left .f-nav div {
    float: left;
    width: 90px;
    margin-bottom: 16px;
}
/*链接*/
.f-link-left .f-nav div a {
    font-size: 14px;
    white-space: nowrap;
}
/*客户端与微信微博*/
.f-link-right {
    float: right;
    padding-top: 40px;
}
/*客户端与微信微博中的链接*/
.f-link-right a {
    display: inline-block;    
    padding-top: 50px;
    height: 70px;
    font-size: 14px;
    background-repeat: no-repeat;
    background-size: 40px;
    background-position-x: center;
}
/*客户端*/
.f-link-right .f-biliapp {
    margin-right: 15px;
    background-image: url("images/icons-download-dark.png");
}
.f-link-right .f-biliapp:hover {
    background-image: url("images/icons-download-light.png");
}
/*微博*/
.f-link-right .f-weibo {
    margin-right: 15px;
    background-image: url("images/icons-blog-dark.png");
}
.f-link-right .f-weibo:hover {
    background-image: url("images/icons-blog-light.png");
}
/*微信*/
.f-link-right .f-weixin {
    background-image: url("images/icons-weixin-dark.png");
}
.f-link-right .f-weixin:hover {
    background-image: url("images/icons-weixin-light.png");
}
/*公司联系方式*/
.f-text-con p {
    margin: 20px 0;
    color: #555;
    text-align: center;
}